*.log

# PhpStorm #
############
/.idea/

# Gulp/Grunt and Node #
#################
gulp
/node_modules/
.jshintrc
.sass-cache

# Composer Packages #
#####################
/vendor/

# Binaries #
#########
/bin/

# Compiled Assets #
###################
/dist/